/* ********************
html / body styles
******************** */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #222;
}

/* ********************
layout styles
******************** */
main {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* ********************
header styles
******************** */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}
header a {
    text-decoration: none;
    color: inherit;
}
header .logo {
    font-weight: bold;
    font-size: 1.8rem;
}
header nav {
    display: flex;
    gap: 15px;
}
nav a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav svg {
    width: 30px;
}

/* ********************
post styles
******************** */
.post-image img {
    width: 100%;
    margin: auto;
    object-fit: fill;
    object-position: center center;
}
.post-image {
    height: 125px;
    overflow: hidden;
}
.post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 auto 30px auto;
}
.post h2 {
    margin: 0;
    font-size: 1.8rem;
}
.post a {
    text-decoration: none;
    color: inherit;
}
.post-info {
    margin: 0;
    color: #888;
    font-size: 1.3rem;
    gap: 10px;
}
.post-author {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.post-summary {
    margin: 10px 0;
}

.postPage .coverImage {
    max-width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
}
.coverImage img {
    object-fit: contain;
    object-position: center center;
}
.postPage h2 {
    text-align: center;
}

/* ********************
misc styles
******************** */
.editPost {
    text-align: center;
    overflow: auto;
    margin-bottom: 10px;
}
.editPostLink {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    gap: 5px;
}
.editPostLink, .ingredientAdd svg {
    height: 18px;
    stroke: #fff;
}

/* ********************
form styles
******************** */
.login {
    max-width: 400px;
    margin: 0 auto;
}
input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
}
form button {
    width: 100%;
    display: block;
    background-color: #4997a3;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: bold;
}
form button:hover {
    background-color: #59b1bd;
}
.login h2 {
    text-align: center;
}

.ingredientsInputList input {
    width: 40%;
    display: inline-block;
}
.ingredientListButtons {
    display: inline-block;
}
.ingredientListButtons button {
    width: fit-content;
    display: inline-block;
}
.ingredientAdd {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* ********************
user profile
******************** */
.user-header {
    text-align: center;
    text-transform: capitalize;
}
.user-nav {
    padding: 0;
    gap: 15px;
    margin-bottom: 30px;
}
.user-nav li, .user-nav a {
    display: inline-block;
}
.user-nav a {
    background: #ddd;
    padding: 5px 12px;
    border-radius: 12px;
    text-decoration: none;
}

/* ********************
utility
******************** */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center {
    text-align: center;
}

/* ********************
media queries 
******************** */

@media screen and (min-width: 600px) {
    .post {
        grid-template-columns: 0.9fr 1.1fr;
    }
}