@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ********************
variables
******************** */
:root {
    --font-main: "Ubuntu", "Verdana", sans-serif;
    --text-main: #1E1E1E;
    --text-heading: #6AA702;
    --text-accent: #59B1BD;
    --bg-main: #F5F8FF;
    --bg-post: #FFFFFF;
    --color-accent1: #8BC801;
    --color-accent2: #FCFB01;
    --color-accent3: #4997A3;
    --color-shadow: #D0D8ED;
}

/* ********************
html / body styles
******************** */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.5rem;
    font-family: var(--font-main);
    line-height: 1.5;
    color: var(--text-main);
    background: var(--bg-main)
}

/* ********************
layout styles
******************** */
main {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* ********************
text, general
******************** */
a {
    color: var(--color-accent3);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: var(--color-accent1)
}

/* ********************
headings
******************** */
h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--text-heading)
}
h2 {
    font-size: 1.6rem;
    color: var(--text-main);
    margin: 0 0 5px 0;
}
h3 {
    font-size: 1.55rem;
    color: inherit;
    text-align: center;
    padding: 10px 0;
}

/* ********************
header styles
******************** */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}
header a {
    text-decoration: none;
    color: inherit;
}
header .logo {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--text-heading);
}
header nav {
    display: flex;
    gap: 15px;
}
nav a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--color-accent3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
nav a:hover {
    background: var(--color-accent1);
    color: #fff;
}
nav svg {
    width: 30px;
}

/* ********************
post styles
******************** */
.post {
    margin: 0 auto 40px auto;
    width: 95%;
    box-shadow: 0 5px 20px var(--color-shadow);
    border-radius: 15px;
    padding: 15px;
    background-color: var(--bg-post);
    text-align: left;
}
.post-info {
    margin: 0;
    color: #888;
    font-size: 1.3rem;
    gap: 10px;
}

/* ********************
edit post
******************** */
.editPost {
    text-align: center;
    overflow: auto;
    margin-bottom: 10px;
}
.editPostLink {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    gap: 5px;
}
.editPostLink, .ingredientAdd svg {
    height: 18px;
    stroke: #fff;
}

/* ********************
save button
******************** */
.saveButton {
    border: 2px solid #999;
    border-radius: 5px;
    background: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    padding: 5px;
}
.saveButton:hover {
    background: #f1f1f1;
}

/* ********************
form styles
******************** */
.login {
    max-width: 400px;
    margin: 0 auto;
}
input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
}
form button {
    width: 100%;
    display: block;
    background-color: #4997a3;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: bold;
}
form button:hover {
    background-color: #59b1bd;
}
.login h2 {
    text-align: center;
}
.ingredientsInputList {
    display: flex;
    gap: 5px;
}
.ingredientsInputList input {
    flex: 1;
    display: inline-block;
}
.ingredientListButtons {
    display: inline-block;
}
.ingredientListButtons button {
    width: fit-content;
    display: inline-block;
}
.ingredientAdd {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

/* ********************
user profile
******************** */
.user-header {
    text-align: center;
    text-transform: capitalize;
}
.user-nav {
    padding: 0;
    gap: 15px;
    margin-bottom: 30px;
}
.user-nav li, .user-nav a {
    display: inline-block;
}
.user-nav a {
    background: #ddd;
    padding: 5px 12px;
    border-radius: 12px;
    text-decoration: none;
}

/* ********************
utility
******************** */

/* Flex */

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-between {
    justify-content: space-between;
}
.flex-align-end {
    align-items: flex-end;
}
.small-gap {
    gap: 5px;
}
.med-gap {
    gap: 10px;
}

/* Text */

.text-center {
    text-align: center;
}
.text-small {
    font-size: 1.1rem;
}

/* Block */

.block-center {
    display: block;
    margin: auto;
}
.width-100 {
    width: 100%;
}

/* Color */

.green {
    color: green;
}
.yellow {
    color: orange;
}
.red {
    color: red;
}

/* SVG */

.fill-green {
    fill: green;
}
.fill-yellow {
    fill: orange;
}
.fill-red {
    fill: red;
}
.bold {
    font-weight: bold;
}

/* ********************
media queries 
******************** */

@media screen and (min-width: 600px) {
    .post {
        grid-template-columns: 0.9fr 1.1fr;
    }
}